@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol, ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

/*--------------------*/
@font-face {
  font-family: "AvenirLTStd";
  src: url(../fonts/AvenirLTStd.eot);
  src: url("../fonts/AvenirLTStd.eot?#iefix") format("embedded-opentype"), url(../fonts/AvenirLTStd.woff2) format("woff2"), url(../fonts/AvenirLTStd.woff) format("woff"), url(../fonts/AvenirLTStd.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "AvenirLTStd", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #010101;
  color: #EDEDF5;
}

a {
  color: #EDEDF5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", cursive;
  font-size: 65px;
  line-height: 78px;
}

h1 {
  text-transform: uppercase;
  font-size: 100px;
  line-height: 120px;
}

.comment {
  text-align: center;
}

.header {
  min-height: 100vh;
}

.header__navigation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__wrapper {
  position: relative;
  z-index: 2;
  padding-top: 45px;
}

.navigation__leftgroup {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
}

.navigation__rightgroup {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

.leftgroup__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.leftgroup__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
  text-align: center;
}

.rightgroup__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
}

.parallax {
  min-height: 100vh;
}

.parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax__container {
  position: relative;
  z-index: 2;
  padding-top: 280px;
}

.parallax__scroll {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-transform: uppercase;
  background: url(../img/icons/scroll.svg) no-repeat center/30px 30px;
  padding: 0 2% 9% 2%;
  position: absolute;
  bottom: -110%;
  left: 50%;
  font-size: 10px;
  line-height: 12px;
}

.parallax__images-parallax {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  z-index: 1;
}

.video__item {
  width: 700px;
}

.video__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images-parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.images-parallax__clouds {
  background: url(../img/parallaxImg/cloud_b.png) no-repeat top/cover;
  top: 0%;
}

.images-parallax__mountains {
  background: url(../img/parallaxImg/mountain_b.png) no-repeat top/cover;
  top: 40%;
}

.images-parallax__clouds, .images-parallax__mountains {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
}

.content {
  position: relative;
  z-index: 2;
  background-color: #010101;
}

.content__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 700px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 700px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}

.item__header {
  text-align: center;
  margin: 2% 0;
}

.item__video {
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 50%;
}

.item__video-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__text {
  font-size: 15px;
  line-height: 17px;
}

.controls__play-btn {
  background: url(../img/icons/iconPlay.svg) no-repeat center/cover;
  height: 65px;
  width: 65px;
  position: absolute;
  top: 38%;
  left: 45.5%;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.controls__volume-range {
  width: 0px;
  position: absolute;
  bottom: 30px;
  left: 1%;
  z-index: 2;
  opacity: 0.2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.controls__progress {
  position: absolute;
  background-color: aqua;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 3%;
}

.controls__progress-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.--paused {
  background: url(../img/icons/iconPause.png) no-repeat center/cover;
}

.item__video:hover .controls__play-btn {
  opacity: 1;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.item__video:hover .controls__volume-range {
  opacity: 1;
  width: 80px;
}

.item__video:hover .controls__progress-bg {
  height: 20px;
}

.content::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0)), color-stop(11%, rgba(1, 1, 1, 0)), to(black));
  background: linear-gradient(top, rgba(1, 1, 1, 0) 0%, rgba(1, 1, 1, 0) 11%, black 100%);
}
/*# sourceMappingURL=Main.css.map */