@import "nullstyle.scss";
@font-face {
    font-family: "AvenirLTStd";
    src: url(../fonts/AvenirLTStd.eot);
    src: url("../fonts/AvenirLTStd.eot?#iefix") format("embedded-opentype"), 
    url(../fonts/AvenirLTStd.woff2) format("woff2"),
    url(../fonts/AvenirLTStd.woff) format("woff"),
    url(../fonts/AvenirLTStd.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

$contentFont:'AvenirLTStd', sans-serif;
$titleFont:'Bebas Neue', cursive; 


body{
  font-family: $contentFont;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #010101;
  color: #EDEDF5;
}
a{
  color: #EDEDF5;
}

h1, h2, h3, h4, h5, h6{
    font-family: $titleFont;
    font-size: 65px;
    line-height: 78px;
}

h1{
  text-transform: uppercase;
  font-size: 100px;
  line-height: 120px; 
}

.comment{
  text-align: center;
}

.header {
  min-height: 100vh;

  // .header__navigation
  &__navigation{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

  }
  //.header__wrapper
  &__wrapper{
    position: relative;
    z-index: 2;
    padding-top: 45px;
  }

}
.container-fluid {
}
.container {
}
.navigation {
		// .navigation__leftgroup

		&__leftgroup {
      flex: 0 1 33.3%;
 
		}

		// .navigation__rightgroup

		&__rightgroup {
      flex: 0 1 33.3%;
      justify-content: flex-end;
      text-align: end;
		}
}
.d-flex {
}
.justify-content-between {
}
.align-items-center {
}
.leftgroup {

		// .leftgroup__item

		&__item {
      flex: 0 1 30%;
		}

    &__item:first-child {
      flex: 0 1 40%;
		}

		// .leftgroup__link

		&__link {
		}

		// .leftgroup__img

		&__img {
		}
}
.logo {
  flex: 0 1 33.3%;
  text-align: center;
		// .logo__link

		&__link {

		}

		// .logo__img

		&__img {
		}
}
.rightgroup {

		// .rightgroup__item

		&__item {
       flex: 0 1 10%;

		}

		// .rightgroup__link

		&__link {
		}

		// .rightgroup__img

		&__img {
		}
}
.parallax {
  min-height: 100vh;
		// .parallax__body

		&__body {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
		}

		// .parallax__container

		&__container {
      position: relative;
      z-index: 2;
      padding-top: 280px;
		}

		// .parallax__title

		&__title {
		}

		// .parallax__lable

		&__lable {
		}

    //.parallax__scroll

    &__scroll{
      writing-mode: vertical-rl;
      text-transform: uppercase;
        background: url(../img/icons/scroll.svg) no-repeat center/30px 30px;
        padding: 0 2% 9% 2%;
        position: absolute;
        bottom: -110%;
        left: 50%;
        font-size: 10px;
        line-height: 12px;
    }

		// .parallax__images-parallax

		&__images-parallax {
      position: absolute;
      //Больше 100 чтобы скрыть края
      width: 120%;
      height: 120%;
      top: -10%; 
      left: -10%;
      z-index: 1;
		}
}

.video{

  //.video__item

  &__item{
    width: 700px;
  }

  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.images-parallax {

		// .images-parallax__item

		&__item {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

		}

		// .images-parallax__clouds

		&__clouds {
      background: url(../img/parallaxImg/cloud_b.png) no-repeat top /cover;
      top: 0%;
		}

		// .images-parallax__mountains

		&__mountains {
      background: url(../img/parallaxImg/mountain_b.png) no-repeat top /cover;
      top: 40%;

		}

    &__clouds, &__mountains {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0%;
		}

}
.content {
  position: relative;
  z-index: 2;
  background-color: #010101;

		// .content__container

		&__container {

		}
    // .content__body 
    &__body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px,700px));
      justify-content: center;
      padding-bottom: 100px;
		}

}

.item {

  // .item__header

  &__header {
    text-align: center;
    margin: 2% 0;
  }

  // .item__video

  &__video {
    text-align: center;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 50%;

  }

  &__video-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    //чтобы вписывать любое соотношение сторон
    object-fit: cover;
  }


  // .item__text

  &__text {
    font-size: 15px;
    line-height: 17px;
  }
}


.controls {

  // .controls__play-btn

  &__play-btn {
    background: url(../img/icons/iconPlay.svg) no-repeat center/cover;
    height: 65px;
    width: 65px;
    position: absolute;
    top: 38%;
    left: 45.5%;
     z-index: 2;
     opacity: 0;
     transition: all 0.3s ease;
  }


  // .controls__volume-range

  &__volume-range {
    width: 0px;
    position: absolute;
    bottom: 30px;
    left: 1%;
    z-index: 2;
    opacity: 0.2;
    transition: all 0.3s ease;
  }

  //.controls__progress
  &__progress{
    position: absolute;
    background-color:aqua;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
    width:3%;

  }

  &__progress-bg{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 3px;
    width: 100%;
    bottom:0;
    left: 0;
    z-index: 2;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  

}

.--paused{
  background: url(../img/icons/iconPause.png) no-repeat center/cover;
}


.item__video:hover .controls__play-btn{
  opacity: 1;
  transform: scale(1.3)
}

.item__video:hover .controls__volume-range{
  opacity: 1;
  width: 80px;
}

.item__video:hover .controls__progress-bg{
  height: 20px;
}


.content::before{
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  transform: translate(0px, -100%);
  background: linear-gradient(top, rgba(1,1,1,0) 0%, rgba(1,1,1,0) 11%, rgba(0,0,0,1) 100%);
}
.footer {
}


// @media (max-width:767px){
//   .parallax__title{
//     font-size: 50px;
//   }
//   .parallax__lable{
//     font-size: 12px;
//   }
  
// }



//Если какое-то изображение пропадает при адаптации
// @media (max-aspect-ratio: 3/2){
//     .images-parallax__human{
//       background-position: 20% top;
//     }
// }